<nav>
    <div class="navLeft">
    <span><a href="/">CheatSheet</a></span>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/{{htmlLink}}">{{html}}</a>
            <div class="subMenu1">
                <ul>
                    <li class="dropDownLi"><a href="/{{cssLink}}">{{css}}</a></li>
                    <li class="dropDownLi"><a href="/{{javascriptLink}}">{{javascript}}</a></li>
                    <li class="dropDownLi"><a href="/{{nodeLink}}">{{node}}</a></li>
                    <li class="dropDownLi"><a href="/{{epressLink}}">{{express}}</a></li>
                    <li class="dropDownLi"><a href="/{{mongoDBLink}}">{{mongoDB}}</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/{{notesLink}}">{{notes}}</a>
            <div class="subMenu2">
                <ul>
                    <li class="dropDownLi"><a href="/{{apiLink}}">{{api}}</a></li>
                    <li class="dropDownLi"><a href="/{{questionsLink}}">{{questions}}</a></li>
                </ul>
            </div>
        </li>
    </ul>
    </div>

    <div class="navRight">
    <div class="navInput">
        <input class="searchInput" type="search" placeholder="Search here">
        <button class="searchBtn" >Search</button>    
    </div>
    <div class="sign">
        <a href="/registeration">
            <button class="signUp">Sign up</button>
        </a>
        <a href="/login">
            <button class="logIn">Login</button>
        </a>
    </div>
    </div>

</nav>